@tailwind preflight;

@tailwind components;

@tailwind utilities;

@font-face {
	font-family: 'avenirHeavy';
	src: url('/fonts/AvenirHeavy.ttf');
}
@font-face {
	font-family: 'avenirMedium';
	src: url('/fonts/AvenirMedium.ttf');
}
@font-face {
	font-family: 'avenirLight';
	src: url('/fonts/AvenirLight.ttf');
}
@font-face {
	font-family: 'avenirBook';
	src: url('/fonts/AvenirBook.ttf');
}

body {
	font-family: 'avenirMedium', sans-serif;
}

#logoLabel {
	font-family: 'avenirHeavy', sans-serif;
}

.nav-link {
	@apply .block .mt-2 .text-lg .leading-normal .text-blue .no-underline;
}

.nav-link:not(:last-child) {
	@apply .mr-8;
}

@screen md {
	.nav-link {
		@apply .inline-block .mt-0;
	}
}

.nav-link:hover {
	@apply .text-blue-dark;
}

.dropdown-menu {
	left: 0;
	top: 2.1em;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.bg-blue-gradient {
	background-image: linear-gradient(to bottom, #3e4d6a, #212234);
}

@responsive {
	.grid-col-2-reverse > div {
		grid-row: 1;
	}

	.grid-col-2-reverse > div:nth-of-type(1) {
		grid-column: 2;
	}

	.grid-col-2-reverse > div:nth-of-type(2) {
		grid-column: 1;
	}
}

@media (max-width: config('screens.md')) {
	.mobile\:hidden {
		display: none;
	}
}

@extends {
	margin: 0px;
}
