/**
 * PRIMARY NAV
 */

.nav-link {
	@apply .block .mt-2 .text-lg .leading-normal .text-blue .no-underline .whitespace-no-wrap;
}

.nav-link:not(:last-child) {
	@apply .mr-8;
}

@screen md {
	.nav-link {
		@apply .inline-block .mt-0;
	}
}

.nav-link:hover {
	@apply .text-blue-dark;
}

/**
 * DROPDOWN MENU
 */

.dropdown-menu {
	left: 0;
	top: 2.1em;
}

.dropdown:hover .dropdown-menu {
	display: block;
}
