.dim {
	opacity: 1;
	transition: opacity 0.15s ease-in;
}

.dim:focus,
.dim:hover {
	opacity: 0.5;
	transition: opacity 0.15s ease-in;
}

.dim:active {
	opacity: 0.8;
	transition: opacity 0.15s ease-out;
}

.red-btn {
	@apply .inline-block .my-4 .py-2 .px-4 .min-w-3xs .rounded-full;
	@apply .no-underline .bg-red .text-white .text-center .font-bold;
}

.red-btn:hover {
	@apply .bg-red-dark;

	transition: background-color 0.15s ease-out;
}

.red-btn:active {
	opacity: 0.8;
	transition: opacity 0.15s ease-out;
}

.red-btn-outline {
	@apply .leading-normal .no-underline .whitespace-no-wrap .text-rl-red;
	@apply .border .border-solid .rounded-full .border-rl-red;
	@apply .px-6 .py-2;
}

.red-btn-outline:hover {
	@apply .border-red-dark;

	transition: border-color 0.15s ease-out;
	transition: color 0.15s ease-out;
}

.red-btn-outline:active {
	opacity: 0.8;
	transition: opacity 0.15s ease-out;
}

.card {
	@apply .w-full .rounded .overflow-hidden .bg-white .shadow-lg .px-6 .py-4 .mb-8;
}

.card-title {
	@apply .font-bold .text-xl .mb-2 .text-center .text-rl-gray;
}

.text-input {
	@apply .shadow .appearance-none .border .rounded .w-full .py-2 .px-3 .text-grey-darker;
}

.tag {
	@apply .inline-block .bg-grey-lighter .rounded-full .px-3 .py-1 .text-sm .font-semibold .text-grey-darker .mr-2;
}
