<footer class="bg-black text-white">
        <div class="container mx-auto grid grid-columns-1 sm:grid-columns-2 md:grid-columns-4">
            <div class="px-8 py-4">
                <p class="font-semibold">Ecosystem</p>
                <ul class="list-reset">
                    <li>Red Language</li>
                    <li>Red Foundation</li>
                    <li>Red ICO</li>
                    <li>Fullstack Technologies</li>
                </ul>
            </div>
            <div class="md:col-span-2 px-8 py-4">
                <p class="font-semibold">About Red</p>
                <ul class="list-reset">
                    <li>Documentation</li>
                    <li>Blog</li>
                    <li>Roadmap</li>
                    <li>Download</li>
                </ul>
            </div>
            <div class="px-8 py-4">
                <p>subscribe</p>
                <input type="email">
                <input type="submit" value="Submit">
            </div>
        </div>
        <div class="w-full">
            <p>social</p>
            <div>{{ .Site.Params.CopyrightHTML | safeHTML }}</div>
        </div>
    </footer>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="{{ .Site.BaseURL }}{{ index .Site.Data.assetMap "vendor.js" }}"></script>
<script src="{{ .Site.BaseURL }}{{ index .Site.Data.assetMap "main.js" }}"></script>
