<footer class="bg-black text-white">
        <div class="container mx-auto grid grid-columns-1 sm:grid-columns-2 md:grid-columns-4">
            <div class="px-8 py-4">
                <p class="font-semibold">Ecosystem</p>
                <ul class="list-reset">
                    {{ range .Site.Menus.ecosystem -}}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="md:col-span-2 px-8 py-4">
                <p class="font-semibold">About Red</p>
                <ul class="list-reset">
                    {{ range .Site.Menus.main -}}
                        <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="px-8 py-4">
                <p>subscribe</p>
                <input type="email">
                <input type="submit" value="Submit">
            </div>
        </div>
        <div class="w-full">
            {{ range .Site.Menus.social -}}
                <a class="text-grey no-underline ml-4" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
            <div>{{ .Site.Params.CopyrightHTML | safeHTML }}</div>
        </div>
    </footer>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="{{ .Site.BaseURL }}{{ index .Site.Data.assetMap "vendor.js" }}"></script>
<script src="{{ .Site.BaseURL }}{{ index .Site.Data.assetMap "main.js" }}"></script>
