<!-- sticky footer height is same as <body> margin-bottom -->
<footer class="bg-rl-light-blue text-white absolute w-full h-64 pin-b">
        <div class="container mx-auto grid grid-columns-1 sm:grid-columns-2 md:grid-columns-4">
            <div class="px-8 py-4">
                <p class="font-semibold">{{ i18n "ecosystem" }}</p>
                <ul class="list-reset">
                    {{ range .Site.Params.navigation.ecosystem -}}
                        <li><a class="no-underline text-rl-gray dim" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="md:col-span-2 px-8 py-4">
                <p class="font-semibold">{{ i18n "about" }}</p>
                <ul class="list-reset">
                    {{ range .Site.Menus.main -}}
                        <li><a class="no-underline text-rl-gray dim" href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="px-8 py-4">
                <p>{{ i18n "subscribe" }}</p>
                <input type="email">
                <input type="submit" value="{{ i18n "submitBtn" }}">
            </div>
        </div>
        <div class="container mx-auto px-8 py-4">
            {{ range .Site.Params.navigation.social -}}
                <a class="text-grey no-underline mr-4" href="{{ .URL }}" title="{{ .Name }}">{{ partial "icon" (dict "icon" .Identifier) }}</a>
            {{ end }}
            <div class="mt-4 mb-8">{{ .Site.Params.CopyrightHTML | safeHTML }}</div>
        </div>
    </footer>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="{{ .Site.BaseURL }}{{ index .Site.Data.assetMap "vendor.js" }}"></script>
<script src="{{ .Site.BaseURL }}{{ index .Site.Data.assetMap "main.js" }}"></script>
