<header class="w-full bg-rl-light-blue">
    <div class="container mx-auto flex items-center justify-between py-4 px-8">
        <span class="text-2l font-semibold">
            <h1>Red</h1>
        </span>
        <nav class="flex items-center">
            {{- $currentPage := . -}}
            {{ range .Site.Menus.main -}}
                <a class="nav-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            {{ end }}
        </nav>
    </div>
</header>
