<section class="w-full bg-blue-darker text-sm">
    <div class="container mx-auto flex items-center justify-between py-2 px-4">
        <div class="font-semibold">
            <div class="w-32 relative inline-block mr-2">
                <nav id="ecosystem-nav">
                    <div class="dropdown relative bg-grey">
                        <div class="px-1 py-2" @click="toggleMenu()">Ecosystem</div>
                        <div class="dropdown-menu hidden absolute minw-full" :class="{ block: isMenuOpen }">
                            <ul class="submenu list-reset">
                                {{ range .Site.Menus.ecosystem -}}
                                    <li><a class="block px-1 py-2 bg-grey hover:bg-white no-underline" href="{{ .URL }}">{{ .Name }}</a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            {{ if .IsTranslated }}
            {{ $currentLang := .Site.Language.Lang }}
            {{ range .Translations }}
                <a class="navbar-item lang" href="{{ .Permalink }}">
                    {{ .Lang }}
                </a>
            {{ end }}
        {{ end }}
            </div>
        <nav class="flex items-center mobile:hidden">
            {{ range .Site.Menus.social -}}
                <a class="text-grey no-underline ml-4" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </nav>
    </div>
</section>
