<section class="w-full bg-blue-darker">
    <div class="container mx-auto flex items-center justify-between py-1 px-4">
        <div class="font-semibold text-sm">
            <div class="w-32 relative inline-block mr-2">
                <nav id="ecosystem-nav">
                    <div class="dropdown relative bg-grey">
                        <div class="px-1 py-2" @click="toggleMenu()">{{ i18n "ecosystem" }}</div>
                        <div class="dropdown-menu absolute min-w-full" :class="{ block: isMenuOpen }">
                            <ul class="submenu list-reset">
                                {{ range .Site.Params.navigation.ecosystem -}}
                                    <li><a class="block px-1 py-2 bg-grey hover:bg-white text-black no-underline" href="{{ .URL }}">{{ .Name }}</a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="w-32 relative inline-block">
                <nav id="lang-nav">
                    <div class="dropdown relative bg-grey">
                        {{ $home := .Site.Home }}
                        <div class="px-1 py-2" @click="toggleMenu()">{{- partial "icon" (dict "icon" .Lang) -}} {{ $home.Language.LanguageName }}</div>
                        <div class="dropdown-menu absolute min-w-full" :class="{ block: isMenuOpen }">
                            <ul class="submenu list-reset">
                                {{ range $home.Translations -}}
                                    <li><a class="block px-1 py-2 bg-grey hover:bg-white text-black no-underline" href="{{ .Permalink }}">
                                        {{- partial "icon" (dict "icon" .Lang) -}}
                                        {{ .Language.LanguageName }}
                                    </a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <nav class="flex items-center mobile:hidden">
            {{ range .Site.Params.navigation.social -}}
                <a class="text-grey no-underline ml-4" href="{{ .URL }}" title="{{ .Name }}">{{ partial "icon" (dict "icon" .Identifier) }}</a>
            {{ end }}
        </nav>
    </div>
</section>
