<section class="py-4 bg-blue">
    <div class="container mx-auto flex flex-col items-center">
        <div class="w-full mb-4 text-center">
            <h3>Features</h3>
        </div>
        <div class="w-1/2 grid cols-5 gap-s grid-justify-center">
            <div class="w-16 h-16 bg-teal">Feature 1</div>
            <div class="w-16 h-16 bg-teal">Feature 1</div>
            <div class="w-16 h-16 bg-teal">Feature 1</div>
            <div class="w-16 h-16 bg-teal">Feature 1</div>
            <div class="w-16 h-16 bg-teal">Feature 1</div>
            <div class="w-16 h-16 bg-teal">Feature 1</div>
            <div class="w-16 h-16 bg-teal">Feature 1</div>
            <div class="w-16 h-16 bg-teal">Feature 1</div>
            <div class="w-16 h-16 bg-teal">Feature 1</div>
            <div class="w-16 h-16 bg-teal">Feature 1</div>
            <div class="w-16 h-16 bg-teal">Feature 1</div>
            <div class="w-16 h-16 bg-teal">Feature 1</div>
            <div class="w-16 h-16 bg-teal">Feature 1</div>
            <div class="w-16 h-16 bg-teal">Feature 1</div>
        </div>
    </div>
</section>
