<section class="py-4">
    <div class="container mx-auto mt-12 flex flex-col items-center">
        <div class="grid grid-columns-1 grid-gap-xs sm:grid-columns-2 sm:grid-gap-sm lg:grid-columns-4 lg:grid-gap-lg grid-justify-center">
            {{ range .Params.grid_items }}
                <div class="w-64 h-32 py-1">
                    <div class="h-12 w-12 mx-auto rounded-full bg-teal"></div>
                    <h4 class="text-center text-lg text-rl-gray rl-ctr-title-underline mt-4">{{ .title }}</h4>
                    <p class="px-2 text-center text-rl-gray">{{ .description }}</p>
                </div>
            {{ end }}
        </div>
    </div>
</section>
