<section class="bg-black">
    <div class="container mx-auto px-8 grid grid-columns-1 md:grid-columns-2
    {{- with .Params.image_position -}}
        {{- if eq "left" . }} md:grid-col-2-reverse{{- end -}}
    {{- end -}}">
        <div class="px-8 py-4 bg-blue-darker">
            <img src="{{ relURL .Params.image }}" />
        </div>
        <div class="px-8 py-4 bg-teal">
            {{- with .Params.heading -}}
                <p class="font-semibold">{{ markdownify . }}</p>
            {{- end -}}
            {{- with .Params.content -}}
                <p>{{ markdownify . }}</p>
            {{- end -}}
        </div>
    </div>
</section>
